.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.user, .opponent {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    transition: .3s;
}

.user {
    background-image: url('../../images/human.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(23, 210, 3);
    background-color: rgb(59, 201, 44);
}

.opponent {
    background-image: url('../../images/minotaur.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cb3e31;
    background-color: #d9655a;
}

.row {
    display: flex;
}

.wall {
    background-image: url('../../images/wall.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #878787;
}

.labyrinth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labyrinth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
    z-index: 1000;
}

.torch-left {
    position: relative;
    background-image: url('../../images/torch_left.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 4px;
}

.torch-right {
    position: relative;
    background-image: url('../../images/torch_right.png');
    background-repeat: no-repeat;
    background-size: contain;
    right: 4px;
}

.torch-left, .torch-right {
    width: 60px;
    height: 70px;
}
